<div class="shop-default-index">
    <h1>Добро пожаловать в модуль "shop"!</h1>
    <p>Это главная страница вашего нового модуля. Вы можете отредактировать этот файл по пути:</p>
    <code>modules/shop/views/default/index.njk</code>
</div>
