
<div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
    <h2>Список пользователей</h2>
    <a href="/site/create" class="btn btn-primary" style="text-decoration: none;">+ Создать</a>
</div>



{{ gridViewHtml | safe }}
