<h1>Редактирование нового пользователя</h1>

{# ActiveForm::begin() #}
{{ ActiveForm.begin({ action: '/site/update?id='+user.id, method: 'POST' }).html | safe }}

  {# $form->field($model, 'username') #}
  {{ ActiveForm.prototype.field(user, 'username').label('Имя пользователя') | safe }}

  {# $form->field($model, 'email') #}
  {{ ActiveForm.prototype.field(user, 'email').label('Электронная почта') | safe }}

  <div class="form-group">
      <button type="submit" class="btn btn-success mt-3">Сохранить</button>
  </div>

{# ActiveForm::end() #}
{{ ActiveForm.end() | safe }}

<br>
<a href="/site/index" class="btn btn-primary">&larr; Назад</a>