<div class="shops-default-index">
    <h1>Добро пожаловать в модуль "shops"!</h1>
    <p>Это главная страница вашего нового модуля. Вы можете отредактировать этот файл по пути:</p>
    <code>modules/shops/views/default/index.njk</code>
</div>
